/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require accounts
 *= require sessions
 *= require_self
 *= require top
 *= require items
 *= require sellers
 *= require rooms
 *= require seller/items
 *= require reviews
 *= require admin/items
 *= require orders
 *= require admin/orders
 *= require admin/items
 *= require admin/users
 *= require admin/categories
 *= require admin/rooms
 */

  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #232f3e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* 成功 */
.notice {
  background: #dff0d8;       /* 薄緑 */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #3c763d; /* 緑色枠 */
  color: #3c763d;            /* 文字色も緑 */
}

/* エラーメッセージ (薄赤) */
.alert {
  background: #f2dede;       /* 薄赤 */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #a94442; /* 赤色枠 */
  color: #a94442;            /* 文字色も赤 */
}

/* 画像 */
.product-img {
  width: 168px;
  height: 168px;
  object-fit: cover;
}