/* login.css */

.login-page {
  margin: 0 auto;
}

.login-page h2 {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}

/* 入力フォーム */
.login-page form {
  margin-top: 1em;
}

/* ラベルとフォームの配置 */
.login-page label {
  display: inline-block;
  margin-bottom: 0.2em;
  font-weight: bold;
}

/* ボタン */
.btn {
  margin: 0.5em 0;
  cursor: pointer;
}

.btn.btn-primary,
.btn.btn-secondary {
  padding: 0;
}
